<h1><%= "#{@appointment.appointment_datetime.strftime('%B %d, %Y')} at #{@appointment.appointment_datetime.strftime("%H:%M")}" %></h1>
<h3><%= link_to "Doctor: #{@appointment.doctor.name}", doctor_path(@appointment.doctor) %></h3>
<h3><%= link_to "Patient: #{@appointment.patient.name}", patient_path(@appointment.patient) %></h3>
